@charset "UTF-8";
.main {
	font-family: "Lato", sans-serif;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #3385ff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}
a:active {
  background-color:#5bdb99 ;
}

.openbtn:hover {
	background-color: #444;
}

#bt-menu {
	transition: margin-left .5s;
	padding: 25px;
	background-color: #3385ff
}


@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}

#header-title {
	font-weight: 900;
	 padding: 18px 18px 18px 18px;
	  font-size: 2.8rem;
}
#bodyDiv {
	background-color: #d5efff;
}
#header{
	background-color: #7391C8;
	height: 5rem;
}
#bt-logout={
	font-size: 50px;
	color: #3385ff;
}

#i{
	font-size:4.6rem;
}
#maindiv{
	font-size: 18px;
	margin: 20px 20px 20px 20px;
}
.tabcontent{
	background-color: #f4f2f1;
	margin-left: 12px;
	margin-right: 12px;
}