<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>GST Administrator</title>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous">
</head>

<body background="/images/GST3.jpg" style="text-align: center">
	<div class="fluid-container">
		<div class="row" style="background-color:gray;text-align: center;">
			<div class="hedline" style="margin-left: 0.5cm">
				<img alt="" src="/images/GST8.png">
			</div>
		</div>


		<div class="row"
			style="background-color: rgb(231, 170, 135); margin-top: 1px">
			<ul class="nav nav-pills" hrefActive="active">
				<li class="nav-item"><a class="nav-link" style="color: black"
					href="/home">Home</a></li>
				<!-- <li class="nav-item"><a class="nav-link" style="color: black"
							href="ab_out">About</a></li> -->
			</ul>
		</div>

		<div class="row" style="margin-top: 1cm;">
		<div class="body" style="margin-left: 1cm;">
			
			<h1 style="color: #851B56; font-size: 2.7rem; font-weight: 900">Welcome To
			Administrator</h1>
		<br><br>
		<form action="#" th:action="@{/productsType}" th:object="${productType}" method="post" style="font-weight: 900;font-size: 1.3rem">
			<p>
			Enter Product Catogary :
			<input type="text" th:field="${productType.type}" required="required">
		</p>
		<p>
			Enter product Cgst %:
			<input type="text" th:field="${productType.gst.cgstRate}" required="required" >
		</p>
		<p>
			Enter product Sgst %:
			<input type="text" th:field="${productType.gst.sgstRate}" required="required">
		</p>
		<p>
			<input type="submit" value="Submit" /> 
			<input type="reset"	value="Reset" />
		</p>
		</form>
			
		</div>
		</div>
		
		<div class="row">
			
		</div>
	
	
	
	
	
	
		
		
	</div>
</body>
</html>



	<!-- <div class="row">
		<div class="row" style="margin-right: 0.5cm">
		
		<h1 style="color: #851B56; font-size: 2.7rem">Welcome To
			Administrator</h1>
		<br><br>
		<form action="#" th:action="@{/productsType}" th:object="${productType}" method="post">
			<p>
			Enter Product Catogary :
			<input type="text" th:field="${productType.type}">
		</p>
		<p>
			Enter product Cgst %:
			<input type="text" th:field="${productType.gst.cgstRate}">
		</p>
		<p>
			Enter product Sgst %:
			<input type="text" th:field="${productType.gst.sgstRate}">
		</p>
		<p>
			<input type="submit" value="Submit" /> 
			<input type="reset"	value="Reset" />
		</p>
		</form>
		
		</div>
	</div>
	 -->
	